body.mainBody {
	background-image: url("../images/bg.jpg");
	background-repeat: no-repeat;
	background-size: fill;
}

.container {
	margin-right: 30%;
	padding: 20px;
}

img.logo {
	width: 300px;
}

p {
	font-family: "Work Sans", sans-serif;
	padding-bottom: 20px;
}

.keyboard {
	font-family: "Work Sans", sans-serif;
	font-size: 2rem;
	text-align: center;
	width: 100%;
	margin: 0 auto;
	padding: 0 20%;
}

.keys {
	padding: 5px;
	background-color: #FFFFFF;
	float: left;
	margin: 5px;
	text-align: center;
	text-decoration: none;
}

a.keys:hover {
	background-color: #C0C0C0;
	color: #696969;
}

h1 {
	font-family: "Work Sans", sans-serif;
	font-weight: 900;
	font-size: 2rem;
}

h1#WORD {
	letter-spacing: 3px;
	padding-top: 20px;
}

h2 {
	font-family: "Work Sans", sans-serif;
	font-size: 1.5rem;
}

span#lives, #numLetters {
	font-weight: bolder;
}

#letters a{
	margin-right: auto;
	margin-left: auto;
}

